<atom:content>'s src= attribute is spelled "source"

```
What steps will reproduce the problem?
1. see RFC 4287, section 4.1.3.0
2.
3.

What is the expected output?

class AtomContent {

  // src=
  const std::string& get_src() const { return src_; }
  bool has_src() const { return has_src_; }
  void set_src(const std::string& value) {
    src_ = value;
    has_src_ = true;
  }
  void clear_src() {
    src_.clear();
    has_src_ = false
}

Please use labels and text to provide additional information.


```

Original issue reported on code.google.com by `kml.b...@gmail.com` on 23 May 2009 at 6:33
